<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('users.show.Name')%>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%=t('users.show.Email')%>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%=t('users.show.Admin')%>:</strong>
  <%= @user.admin %>
</p>

<% if @user.admin? %>
  <%= link_to t("users.show.link_to.admin_user"),admin_users_path%>
<%  end %>

<p><%= link_to t("users.show.link_to.tasks_index"), tasks_path %></p>
